<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<title>Greeting Started: Service Web Content</title>
	<div th:insert="~{/parts/layout :: head}"/>
</head>
<body>
<div th:with="object=${user}">
<div th:insert="~{/parts/layout :: body}"/>
</div>
<div class="container mt-5">
<h5 th:if="${user}">
	Welcome, <span th:text="${user.username}"></span>
</h5>
	<div>This is a simple clone off Twitter</div>
	<h5 th:unless="${user}">
		Welcome, guest
	</h5>
<a th:href="@{/main}">Main page</a>
</div>
</body>
</html>