<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
	<title>Login</title>
	<div th:insert="~{/parts/layout :: head}"/>
</head>
<body>
<div th:with="action=@{/login}, object=${user}">
	<div th:insert="~{/parts/layout :: body}"/>
</div>
<div class="container">
	<div th:if="${errorMessage}">
		<div class="alert alert-danger" role="alert" th:text="${errorMessage}"></div>
	</div>
	<div th:with="action=@{/login}, object=${user}">
		<div th:replace="parts/login :: form"></div>
	</div>
</div>
</body>
</html>