<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>Main</title>
</head>
<body>
<div>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out"/>
	</form>
</div>

<form method="post" th:action="@{/main}" th:object="${message}">
	<input type="text" id="text" th:field="*{text}" placeholder="Введите сообщение">
	<br/>
	<input type="text" id="tag" th:field="*{tag}" placeholder="Тэг">
	<br/>
	<input type="submit" value="Добавить!">
</form>


<div>Список сообщений</div>
<form method="post" th:action="@{/filter}">
	<input type="text" id="filter" name="filter">
	<input type="submit" value="Найти">
</form>
<div th:each="message : ${messages}">
	<p th:text="${message.getId()} + ': ' + ${message.getText()} + ' - ' + ${message.getTag()}"/>
</div>
</body>
</html>
