<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>Main</title>
	<link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out"/>
	</form>
	<span><a th:href="@{/user}">User list</a></span>
</div>

<form method="post" th:action="@{/main}" enctype="multipart/form-data">
	<input type="text" id="text" name="text" placeholder="Введите сообщение">
	<br/>
	<input type="text" id="tag" name="tag" placeholder="Тэг">
	<br/>
	<input type="file" id="file" name="file">
	<br/>
	<input type="submit" value="Добавить!">
</form>


<div>Список сообщений</div>
<form th:method="GET" th:action="@{/main}">
	<input type="text" id="filter" name="filter" th:value="${filter}">
	<input type="submit" value="Найти">
</form>
<div th:each="message : ${messages}">
	<p th:text="${message.getId()} + ': ' + ${message.getText()} + ' - '
	+ ${message.getTag()} + ' - ' + ${message.getAuthorName()}"/>
	<div th:if="${message.filename}">
		<img th:src="@{'/img/' + ${message.filename}}">
	</div>
</div>
</body>
</html>
