<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<title>User editor</title>
	<div th:insert="~{/parts/layout :: head}"/>
</head>
<body>
<div th:with="object=${user}">
	<div th:insert="~{/parts/layout :: body}"/>
</div>
<div class="container">
	<form th:method="POST" th:action="@{/user}" th:object="${user}">
		<input type="text" name="username" th:value="${user.username}">
		<div th:each="role : ${roles}">
			<div>
				<label>
					<input type="checkbox" name="roles" th:field="*{roles}" th:value="${role}" th:checked="${user.roles.contains(role)}">
					<span th:text="${role}"></span>
				</label>
			</div>
		</div>
		<input type="hidden" name="userId" th:value="${user.id}">
		<input type="submit" value="Сохранить">
	</form>
</div>
</form>
</body>
</html>