<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>Common Fragments</title>
</head>
<body>
<form class="needs-validation" th:method="POST" th:fragment="form" th:object="${user}" th:action="${action}">
	<div class="form-group row">
		<label class="col-sm-2 col-form-label">User Name: </label>
		<div class="col-sm-6">
			<input type="text" th:field="*{username}"
			       th:classappend="${#fields.hasErrors('username') or usernameError != null ?
           'form-control border border-danger' : 'form-control'}"
			       placeholder="User name">
			<div th:if="${usernameError}">
				<div style="color: red;" th:text="${usernameError}"></div>
			</div>
			<div style="color: red;" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Error</div>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-2 col-form-label">Password:</label>
		<div class="col-sm-6">
			<input type="password" th:field="*{password}"
			       th:classappend="${#fields.hasErrors('password') or passwordError != null ?
			        'form-control border border-danger' : 'form-control'}"
			       placeholder="Password">
			<div th:if="${passwordError}">
				<div style="color: red;" th:text="${passwordError}"></div>
			</div>
			<div style="color: red;" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</div>
		</div>
	</div>
	<div class="form-group row" th:if="${action == '/registration'}">
		<label class="col-sm-2 col-form-label">PasswordConfirm:</label>
		<div class="col-sm-6">
			<input type="password" name="passwordConfirm"
			       th:classappend="${passwordConfirmError != null ?
			        'form-control border border-danger' : 'form-control'}"
			       placeholder="Retype password">
			<div th:if="${passwordConfirmError}">
				<div style="color: red;" th:text="${passwordConfirmError}"></div>
			</div>
		</div>
	</div>
	<div class="form-group row" th:if="${action == '/registration'}">
		<label class="col-sm-2 col-form-label"> Email:</label>
		<div class="col-sm-6">
			<input type="email" th:field="*{email}"
			       th:classappend="${#fields.hasErrors('email')} ? 'form-control border border-danger' : 'form-control'"
			       placeholder="some@some.com"/>
			<div style="color: red;" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error</div>
		</div>
	</div>
	<div class="col-sm-6" th:if="${action == '/registration'}">
		<div class="g-recaptcha" data-sitekey="6Lfwx5UoAAAAAMZzJQ-V8grVgIuY16Hg700IPTDj"></div>
		<div th:if="${captchaError}">
			<div class="alert alert-danger" role="alert" th:text="${captchaError}"></div>
		</div>
	</div>
	<a th:if="${action == '/login'}" th:href="@{/registration}">Add new user</a>
	<button class="btn btn-primary mb-2" type="submit" th:text="${action == '/login' ? 'Sign In' : 'Create'}">Button</button>
</form>
</body>
</html>